<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="comm">

    <script th:src="@{/assets/js/modernizr.min.js}"></script>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/moment.min.js}"></script>

    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <script th:src="@{/assets/js/detect.js}"></script>
    <script th:src="@{/assets/js/fastclick.js}"></script>
    <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
    <script th:src="@{/assets/js/jquery.nicescroll.js}"></script>

    <!-- App js -->
    <script th:src="@{/assets/js/pikeadmin.js}"></script>

    <!-- BEGIN Java Script for this page -->
    <script th:src="@{/bootstrap/Chart.min.js}"></script>
    <script th:src="@{/bootstrap/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/bootstrap/base.js}"></script>
    <script th:src="@{/bootstrap/bootbox.js}"></script>
    <script th:src="@{/bootstrap/ekko-lightbox.min.js}"></script>
    <script th:src="@{/bootstrap/jquery.fancybox.min.js}"></script>

    <script th:src="@{/assets/plugins/jquery.filer/js/jquery.filer.min.js}"></script>

    <!-- Counter-Up-->
    <script th:src="@{/assets/plugins/waypoints/lib/jquery.waypoints.min.js}"></script>
    <script th:src="@{/assets/plugins/counterup/jquery.counterup.min.js}"></script>

    <script th:src="@{/assets/plugins/select2/js/select2.min.js}"></script>

</div>
</html>