<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.sword.screen.mapper.ResourceMapper">

    <select id="getMaxDateOfResource" resultType="java.util.Date">
        SELECT max(createDate) from resource where no = #{no}
    </select>

    <select id="getNumOfResource" resultType="int">
        SELECT count(1) FROM resource WHERE unicode = #{unicode} AND status != '-1'
    </select>

    <select id="selectResourcePage" resultType="com.east.sword.screen.entity.Resource">
        SELECT t1.*,t2.name AS noName,t2.type AS screenType FROM resource t1 INNER  JOIN screen t2 ON t1.no = t2.no
        WHERE status != '-1'
        <if test="no != null and no != ''">
            AND t1.no = #{no}
        </if>
        <if test="fileName != null and fileName != ''">
          AND t1.originName LIKE concat('%',#{fileName},'%')
        </if>
        <if test="noName != null and noName != ''">
            AND t2.name LIKE concat('%',#{noName},'%')
        </if>
        <if test="begDate != null and begDate != ''">
            AND t1.resourceDateTime &gt;= #{begDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND t1.resourceDateTime &lt;= #{endDate}
        </if>
        <if test="srcType != null and srcType != ''">
          AND t1.srcType = #{srcType}
        </if>
        ORDER BY status DESC
    </select>
</mapper>
