<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">
<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <br/>
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <label class="col-form-label">FTP源</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_name" class="form-control">
                                    </div>
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm" onclick="onSearch()">
                                            <i class="fa fa-search" aria-hidden="true"></i> 查询
                                        </button>
                                    </div>&nbsp;&nbsp;
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm"
                                                onclick="onRest() ">
                                            <i class="fa fa-hourglass-1" aria-hidden="true"></i> 重置
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div style="margin-left: 15px;">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#customModal">
                                        <i class="fa fa-plus" aria-hidden="true"></i> 新增
                                    </button>
                                </div>
                                <table id="tb_1" class="table table-responsive-xl table-hover display">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>FTP源</th>
                                        <th>主机</th>
                                        <th>端口号</th>
                                        <th>账号</th>
                                        <th>密码</th>
                                        <th width="160">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>
            </div>
            <!-- END container-fluid -->

            <!-- Modal add -->
            <div class="modal fade" id="customModal"  role="dialog"
                 aria-labelledby="customModal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">FTP 维护</h5>
                        </div>
                        <div class="modal-body">
                            <form id="customForm" th:action="@{/resource/compPic}" method="post"
                                  enctype="multipart/form-data">
                                <input id="ftpId" name="id" type="hidden" value="">
                                <div class="form-group row">
                                    <label for="desName" class="star col-sm-2 col-form-label">FTP源</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="desName" id="desName" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="host" class=" star col-sm-2 col-form-label">主机</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="host" id="host" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="port" class=" star col-sm-2 col-form-label">端口号</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="port" id="port" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class=" star col-sm-2 col-form-label">账号</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="name" id="name" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class=" star col-sm-2 col-form-label">密码</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="password" id="password" required/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" onclick="onEdit()" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END content -->

    </div>
    <!-- END content-page -->
    <div th:replace="common/foot :: foot"></div>
</div>
<!-- END main -->

<div th:replace="common/commjs :: comm"></div>
<script th:inline="javascript">

    /*<![CDATA[*/
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

    bootbox.setDefaults("locale", "zh_CN");

    $(document).ready(function () {
        $('#tb_1').DataTable({
            language: _language,
            ajax: {
                url: basePath + "/ftp/page",
                type: "POST",
                async: false
            },
            serverSide: true,
            pagination: true,
            ordering: false,
            bLengthChange: false,
            bFilter: false,
            columns: [
                {"data": "id"},
                {"data": "desName"},
                {"data": "host"},
                {"data": "port"},
                {"data": "name"},
                {"data": "password"},
                {
                    "data": null,
                    "render":
                        function (data, type, row) {
                            var rtn =
                                "<button type='button' onclick='loadEdit(" + row.id + ")' class='btn btn-outline-primary btn-sm'>修改</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='onDel(" + row.id + ")' class='btn btn-outline-primary btn-sm'>删除</button>&nbsp;&nbsp;"
                            return rtn
                        }

                }
            ],
            "paging": true, //打开分页设置
            "iDisplayLength": 5,
        })
        ;

        // counter-up
        $('.counter').counterUp({
            delay: 10,
            time: 600
        });

    });

    function loadEdit(id) {
        $.post(
            basePath + "/ftp/queryById",
            {"id": id},
            function (response) {
                $("#ftpId").val(response.id);
                $("#desName").val(response.desName);
                $("#host").val(response.host);
                $("#port").val(response.port);
                $("#name").val(response.name);
                $("#password").val(response.password);
                $("#customModal").modal('show');
            }
        );
    }


    //修改、保存用户
    function onEdit(id) {
        var form = $("#customForm")[0];
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }

        var tip = !id ? "确认保存?" : "确认修改?";
        bootbox.confirm(tip, function (result) {
            if (result) {
                $.post(
                    basePath + "/ftp/resave",
                    {
                        "id":$("#ftpId").val(),
                        "desName":$("#desName").val(),
                        "host":$("#host").val(),
                        "port":$("#port").val(),
                        "name":$("#name").val(),
                        "password":$("#password").val()
                    },
                    function (response) {
                        if (response == 'success') {
                            window.location.reload();
                        } else {
                            bootbox.alert('操作异常');
                        }

                    }
                );
            }
        });
    }


    //删除用户
    function onDel(id) {
        bootbox.confirm('确认删除?', function (result) {
            if (result) {
                $.post(
                    basePath + "/resource/delete",
                    {"id": id},
                    function (response) {
                        if (response == 'success') {
                            window.location.reload();
                        } else {
                            bootbox.alert("删除异常");
                        }

                    }
                );
            }
        });
    }

</script>

</body>
</html>