<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody" style="overflow: hidden">
<div id="main">
    <!-- top bar navigation -->
    <div class="headerbar" th:replace="common/topbar :: topbar(~{})"></div>
    <!-- End Navigation -->

    <!-- Left Sidebar -->
    <div class="left main-sidebar" id="leftMenu">
        <div class="sidebar-inner leftscroll">
            <div id="sidebar-menu">
                <ul th:each="menu,stat:${menus}" th:switch="${menu.subMenu.size() > 0}">
                    <li class="submenu">
                        <a name="subMenu" onclick="menuClick(this)"
                           href="javascript:void(0);" th:load="${menu.url}">
                            <i th:class="${menu.icon}"></i>
                            <span th:text="${menu.name}"> </span>
                            <span th:classappend="${menu.subMenu.size() > 0 ? 'menu-arrow' : ''}"></span>
                        </a>
                        <ul class="list-unstyled" th:case="true">
                            <li class="subItem" th:each="secondMenu,statSub:${menu.subMenu}">
                                <a name="subItem" onclick="menuClick(this)" href="javascript:void(0);"
                                   th:text="${secondMenu.name}" th:load="${secondMenu.url}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End Sidebar -->
    <iframe id="mainiframe" width="100%" height="100%" th:src="@{/screen/index}" frameborder="0"
            scrolling="no"></iframe>
    <!-- END main -->
    <div th:replace="common/commjs :: comm"></div>

    <script th:inline="javascript">

        $('#sidebar-menu ul a').first().attr('class', 'active');

        function menuClick(obj) {
            var subItem = $(obj).attr('name');
            var nextEle = $(obj).next();
            if (nextEle.attr('class') == 'list-unstyled') {
                $(".list-unstyled").hide();
                if (!nextEle.attr('style') || nextEle.attr('style') == 'display: none;') {
                    $('#sidebar-menu ul a').each(function () {
                        $(this).attr('class', '');
                    });
                    $(obj).addClass('active');
                }

            } else if (subItem == 'subItem') {
                $(obj).attr('class', '');
            } else {
                $('#sidebar-menu ul a').each(function () {
                    $(this).attr('class', '');
                });
                $(".list-unstyled").hide();
                $(obj).addClass('active');
            }

            var loadUrl = $(obj).attr('load');
            if (loadUrl) {
                $('#mainiframe').attr('src', loadUrl);
            }
            return false;
        };

        function changeFrameHeight() {
            var ifm = document.getElementById("mainiframe");
            ifm.height = document.documentElement.clientHeight;
        };

        window.onresize = function () {
            changeFrameHeight();
        };

        $(function () {
            changeFrameHeight();
        });

        var ifm = document.getElementById("mainiframe");
        ifm.height = document.documentElement.clientHeight;

        var leftDiv = $("#leftMenu");
        leftDiv.height(ifm.height);


    </script>
</div>
</body>

</html>