<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">

<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <br/>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <label class="col-form-label">诱导屏</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_name" class="form-control">
                                    </div>
                                    <label class="col-form-label">&nbsp;&nbsp;开始时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_beg" class="form-control lay" placeholder="YYYY-MM-DD" >
                                    </div>
                                    <label class="col-form-label">&nbsp;&nbsp;结束时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_end" class="form-control lay" placeholder="YYYY-MM-DD" >
                                    </div>
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm" onclick="onSearch()">
                                            <i class="fa fa-search" aria-hidden="true"></i> 查询
                                        </button>
                                    </div>&nbsp;&nbsp;
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm"
                                                onclick="onRest() ">
                                            <i class="fa fa-hourglass-1" aria-hidden="true"></i> 重置
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <!-- end card-header -->

                            <div class="card-body">
                                <div style="margin-left: 15px;">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customModalPic">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i> 插播图片
                                    </button>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customModalFont">
                                        <i class="fa fa-font" aria-hidden="true"></i> 插播文字
                                    </button>
                                </div>
                                <table id="tb_1" class="table table-responsive-sm table-hover display">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>文件名</th>
                                        <th>文件类型</th>
                                        <th>创建时间</th>
                                        <th>所属大屏</th>
                                        <th>内容</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>

                <!-- Modal add A-->
                <div class="modal fade" id="customModalPic" role="dialog"
                     aria-labelledby="customModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">插播图片</h5>
                            </div>
                            <div class="modal-body">
                                <form id="customForm" th:action="@{/resource/compPic}" method="post"
                                      enctype="multipart/form-data">

                                    <div class="form-group row">
                                        <label for="no" class="star col-sm-2 col-form-label">诱导屏</label>
                                        <div class="col-sm-10">
                                            <select class="select2 form-control" name="no" id="no"  style="width: 400px" required>
                                                <option value="">请选择</option>
                                                <option th:each="screen : ${screenList}" th:value="${screen.no}" th:text="${screen.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="backPic" class="star col-sm-2 col-form-label">背景图</label>
                                        <div class="col-sm-10">
                                            <input type="file" name="backGround" id="backPic" multiple="multiple" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="descInfo" class=" star col-sm-2 col-form-label">字体大小</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="size" id="size" placeholder="90" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="descInfo" class=" star col-sm-2 col-form-label">描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="content" id="descInfo" required></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" onclick="onAdd()" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal add B-->
                <div class="modal fade" id="customModalFont" role="dialog"
                     aria-labelledby="customModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">插播文字</h5>
                            </div>
                            <div class="modal-body">
                                <form id="customFormFont" th:action="@{/resource/compFont}" method="post"
                                      enctype="multipart/form-data">

                                    <div class="form-group row">
                                        <label for="noFont" class="star col-sm-2 col-form-label">诱导屏</label>
                                        <div class="col-sm-10">
                                            <select class="select2 form-control" name="no" id="noFont"  style="width: 400px" required>
                                                <option value="">请选择</option>
                                                <option th:each="screen : ${screenList}" th:value="${screen.no}" th:text="${screen.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="descInfo" class=" star col-sm-2 col-form-label">字体大小</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="size" id="sizeFont" placeholder="90" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="descInfoFont" class=" star col-sm-2 col-form-label">文字信息</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="content" id="descInfoFont" required></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" onclick="onAddFont()" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END content-page -->
        <div th:replace="common/foot :: foot"></div>
    </div>
    <!-- END main -->
    <div th:replace="common/commjs :: comm"></div>
    <script th:inline="javascript">

        bootbox.setDefaults("locale", "zh_CN");

        laydate.render({
            elem: '#search_beg' //指定元素
        });
        laydate.render({
            elem: '#search_end' //指定元素
        });

        $(document).ready(function() {
            $('.select2').select2();
        });

        $('#backPic').filer({
            limit: 1,
            maxSize: 10,
            extensions: ['jpg', 'JPG', 'jpeg', 'JPEG', 'png', 'PNG', 'gif', 'GIF', 'bmp', 'BMP'],
            changeInput: true,
            showThumbs: true,
            addMore: false
        });

        /*<![CDATA[*/
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

        var table;
        $(document).ready(function () {
            table = $('#tb_1').DataTable({
                language: _language,
                ajax:{
                    "url":basePath + "/resource/page",
                    "type":"POST",
                    "data":{
                        "srcType":"cut"
                    }
                },
                serverSide: true,
                pagination: true,
                iDisplayLength: 5,
                ordering: false,
                bLengthChange: false,
                bFilter: false,
                columns: [

                    {"data": "id"},
                    {"data": "fileName"},
                    {"data": "type"},
                    {"data": "createDate"},
                    {"data": "noName"},
                    {"data": "content"},
                    {
                        "data": "enable",
                        render: function (data) {
                            return data == '0' ? "<font color='red'>停播</font>" : "<font color='green'>正常</font>";
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var tip = '';
                            var showpicUrl = basePath + "/resource/showPic?id=";
                            if (row.enable == '0') {
                                tip = '播放';
                            } else {
                                tip = '停播';
                            }
                            var rtn =
                                "<button type='button' onclick='onEdit(" + row.id + "," + row.enable + ")' class='btn btn-outline-primary btn-sm'>" + tip + "</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='onDel(" + row.id + ")' class='btn btn-outline-primary btn-sm'>删除</button>&nbsp;&nbsp;"
                                + "<a type='button' data-fancybox='gallery' class='btn btn-outline-primary btn-sm'"
                                + " href='" + showpicUrl + row.id + "' >预览</a>";

                            return rtn
                        }

                    }
                ]
            });

            // counter-up
            $('.counter').counterUp({
                delay: 10,
                time: 600
            });

        });

        function onRest() {
            window.location.reload();
        }

        //新增合成图
        function onAdd() {
            var form = $("#customForm")[0];
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }
            $("#customForm").submit();
        }

        //新增文字
        function onAddFont() {
            var form = $("#customFormFont")[0];
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }
            var no = $("#noFont").val();
            var content = $("#descInfoFont").val();
            var size = $("#sizeFont").val();
            $.post(
                basePath + "/resource/saveFont",
                {
                    "content":content,
                    "no":no,
                    "size":size
                },
                function (result) {
                    if (result == 'success') {
                        window.location.reload();
                    } else {
                        bootbox.alert('新增异常');
                    }
                }
            );
        }

        //表单查询
        function onSearch() {
            var noName = $("#search_name").val();
            var begDate = $("#search_beg").val();
            var endDate = $("#search_end").val();
            table.settings()[0].ajax.data = {
                "srcType":"cut",
                "noName":noName,
                "begDate":begDate,
                "endDate":endDate,
            };
            table.ajax.reload();

        }

        //更改状态
        function onEdit(id, enable) {
            var tip = enable == '0' ? "确认播放图片?" : "确认停止播放?";
            bootbox.confirm(tip, function (result) {
                if (result) {
                    $.post(
                        basePath + "/resource/change",
                        {"resourceId": id, "enable": enable == '0' ? '1' : '0'},
                        function (response) {
                            if (response != 'success' && response != 'fail') {
                                bootbox.alert('大屏最多播放' + response + "张图片！");
                            } else if (response == 'success') {
                                window.location.reload();
                            } else {
                                bootbox.alert("变更异常");
                            }

                        }
                    );
                }
            });
        }

        //自定义口号
        function loadAdd() {
            $("#customForm")[0].reset();
            $("#customModal").modal('show');
            $("#customForm")[0].classList.remove('was-validated');//初始不校验

            $('#backPic').trigger("filer.reset")

        }

        //删除资源
        function onDel(id) {
            bootbox.confirm('确认删除?', function (result) {
                if (result) {
                    $.post(
                        basePath + "/resource/delete",
                        {"id": id},
                        function (response) {
                            if (response == 'success') {
                                window.location.reload();
                            } else {
                                bootbox.alert("删除异常");
                            }

                        }
                    );
                }
            });
        }

    </script>

</div>
</body>
</html>