<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">

<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <br/>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <label class="col-form-label">大屏名称</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_name" class="form-control">
                                    </div>
                                    <label class="col-form-label">状态</label>
                                    <div class="col-sm-2">
                                        <select class="form-control select2" id="search_type">
                                            <option value="">请选择</option>
                                            <option value="1">正常</option>
                                            <option value="0">休眠</option>
                                        </select>
                                    </div>
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm" onclick="onSearch()">
                                            <i class="fa fa-search" aria-hidden="true"></i> 查询
                                        </button>
                                    </div>&nbsp;&nbsp;
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm"
                                                onclick="onRest()">
                                            <i class="fa fa-hourglass-1" aria-hidden="true"></i> 重置
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <table id="tb_1" class="table table-responsive-sm table-hover display">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>大屏名称</th>
                                        <th>播放间隔(秒)</th>
                                        <th>播放数量</th>
                                        <th>亮度</th>
                                        <th>取图方式</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>

                <!-- Modal add -->
                <div class="modal fade" id="customModal" tabindex="-1" role="dialog"
                     aria-labelledby="customModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">播放管理</h5>
                            </div>
                            <div class="modal-body">
                                <form id="customForm">
                                    <input type="hidden" class="form-control" id="no" value="" required>
                                    <div class="form-group row">
                                        <label for="name" class="star col-sm-2 col-form-label">大屏名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control is-valid" id="name" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cron" class="star col-sm-2 col-form-label">播放间隔</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cron" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="playPicNum" class="star col-sm-2 col-form-label">轮播数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="playPicNum" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="light" class="col-sm-2 col-form-label">亮度</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="light">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" onclick="onEdit()" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END content-page -->
        <div th:replace="common/foot :: foot"></div>
    </div>
    <!-- END main -->
    <div th:replace="common/commjs :: comm"></div>
    <script th:inline="javascript">

        bootbox.setDefaults("locale", "zh_CN");

        $("#light").ionRangeSlider({
            min: 0,
            max: 100,
            from: 45
        });

        /*<![CDATA[*/
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

        var table;
        $(document).ready(function () {
            table = $('#tb_1').DataTable({
                language: _language,
                ajax: {
                    url: basePath + "/screen/page",
                    type: "POST",
                    async: false
                },
                serverSide: true,
                pagination: true,
                iDisplayLength: 5,
                ordering: false,
                bLengthChange: false,
                bFilter: false,
                columns: [

                    {"data": "no"},
                    {"data": "name"},
                    {"data": "cron"},
                    {"data": "playPicNum"},
                    {"data": "light"},
                    {"data": "cron"},
                    {
                        "data": "enable",
                        render: function (data) {
                            return data == '0' ? "<font color='red'>休眠</font>" : "<font color='green'>正常</font>";
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var chageInfo;
                            if (data.enable == '1') {
                                chageInfo = "<button type='button' onclick='onChangeStatus(" + row.no + ",0)' class='btn btn-outline-primary btn-sm'>休眠</button>&nbsp;&nbsp;";
                            } else {
                                chageInfo = "<button type='button' onclick='onChangeStatus(" + row.no + ",1)' class='btn btn-outline-primary btn-sm'>唤醒</button>&nbsp;&nbsp;";
                            }
                            var rtnStr =
                                "<button type='button' onclick='loadEdit(" + row.no + ")' class='btn btn-outline-primary btn-sm'>调整参数</button>&nbsp;&nbsp;"
                                + chageInfo
                                + "<button type='button' onclick='onChangeStatus(" + row.no + ",-1)' class='btn btn-outline-primary btn-sm'>重启</button>";
                            return rtnStr;
                        }

                    }
                ]
            });

            // counter-up
            $('.counter').counterUp({
                delay: 10,
                time: 600
            });

        });

        //表单查询
        function onSearch() {
            var name = $("#search_name").val();
            var enable = $("#search_type").val();
            table.settings()[0].ajax.data = {
                "name":name,
                "enable":enable
            };
            table.ajax.reload();
        }

        function onRest() {
            window.location.reload();
        }

        //更改大屏状态
        function onChangeStatus(no,status) {
            var tips;
            if (status == 0) {
                tips = '确认让大屏休眠?';
            }
            if (status == 1) {
                tips = '确认让大屏唤醒？'
            }
            if (status == -1) {
                tips = '确认重启大屏？'
            }
            bootbox.confirm(tips, function (result) {
                if (result) {
                    $.post(
                        basePath + "/screen/changeStatus",
                        {"no": no, "status": status},
                        function (response) {
                            if (response == 'success') {
                                window.location.reload();
                            } else {
                                bootbox.alert("变更异常");
                            }

                        }
                    );
                }
            });
        }

        //加载大屏资源
        function loadResource(no) {
            window.location.href = basePath + "/resource/index?no=" + no;
        }

        function loadEdit(no) {
            $.post(
                basePath + "/screen/queryById",
                {"no": no},
                function (response) {
                    $("#no").val(response.no);
                    $("#name").val(response.name);
                    $("#playPicNum").val(response.playPicNum);
                    $("#cron").val(response.cron);
                    let my_range = $("#light").data("ionRangeSlider");
                    my_range.update({
                        from: response.light
                    });
                    $("#customModal").modal('show');
                }
            );
        }

        function onEdit() {
            var form = $("#customForm")[0];
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }
            $.post(
                basePath + "/screen/resave",
                {
                    "no": $("#no").val(),
                    "cron": $("#cron").val(),
                    "playPicNum": $("#playPicNum").val(),
                    "light": $("#light").val()
                },
                function (response) {
                    if (response == 'success') {
                        $("#customModal").modal('hide');
                        dataTable.ajax.reload();
                    } else {
                        bootbox.alert('操作异常');
                    }

                }
            );
        }

        function onDelete(no) {
            bootbox.confirm("确认删除?", function (result) {
                if (result) {
                    $.post(
                        basePath + "/screen/delete",
                        {"no": no},
                        function (response) {
                            if (response == 'success') {
                                window.location.reload();
                            } else {
                                bootbox.alert("删除异常");
                            }

                        }
                    );
                }
            });

        }

    </script>

</div>
</body>
</html>