<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">
<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <br/>
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <label class="col-form-label">原始文件名</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_name"  class="form-control">
                                    </div>
                                    <label class="col-form-label">&nbsp;&nbsp;开始时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_beg" class="form-control lay" placeholder="FTP开始日期" >
                                    </div>
                                    <label class="col-form-label">&nbsp;&nbsp;结束时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="search_end" class="form-control lay" placeholder="FTP结束日期" >
                                    </div>
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm" onclick="onSearch()">
                                            <i class="fa fa-search" aria-hidden="true"></i> 查询
                                        </button>
                                    </div>&nbsp;&nbsp;
                                    <div class="" style="padding-top: 4px;">
                                        <button class="btn btn-info btn-sm"
                                                onclick="javascript:window.location.href = '/screen/index' ">
                                            <i class="fa fa-reply" aria-hidden="true"></i> 返回
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <table id="tb_1" class="table table-responsive-xl table-hover display">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>原始文件</th>
                                        <th>FTP日期</th>
                                        <th>同步日期</th>
                                        <th>大屏FILE</th>
                                        <th>类型</th>
                                        <th width="60">状态</th>
                                        <th width="160">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>
            </div>
            <!-- END container-fluid -->
        </div>
        <!-- END content -->

    </div>
    <!-- END content-page -->
    <div th:replace="common/foot :: foot"></div>
</div>
<!-- END main -->

<div th:replace="common/commjs :: comm"></div>
<script th:inline="javascript">

    /*<![CDATA[*/
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

    laydate.render({
        elem: '#search_beg' //指定元素
    });
    laydate.render({
        elem: '#search_end' //指定元素
    });

    bootbox.setDefaults("locale", "zh_CN");

    var table;
    $(document).ready(function () {
        table = $('#tb_1').DataTable({
            language: _language,
            ajax: {
                url: basePath + "/resource/page",
                type: "POST",
                async: false
            },
            serverSide: true,
            pagination: true,
            ordering: false,
            bLengthChange: false,
            bFilter: false,
            columns: [
                {"data": "id"},
                {"data": "originName"},
                {"data": "resourceDateTime"},
                {"data": "createDate"},
                {"data": "fileName"},
                {
                    "data": "type",
                    render: function (data) {
                        return data == 'font' ? "<font " + " color='#daa520'>插播</font>" : "<font " + " color='green'>FTP图</font>";
                    }
                },
                {
                    "data": "enable",
                    render:

                        function (data) {
                            return data == '0' ? "<font " + " color='red'>禁播</font>" : "<font " + " color='green'>正常</font>";
                        }
                }
                ,
                {
                    "data": null,
                    "render":
                        function (data, type, row) {
                            var tip = '';
                            var showpicUrl = basePath + "/resource/showPic?id=";
                            if (row.enable == '0') {
                                tip = '播放';
                            } else {
                                tip = '停播';
                            }
                            var rtn =
                                "<button type='button' onclick='onEdit(" + row.id + "," + row.enable + ")' class='btn btn-outline-primary btn-sm'>" + tip + "</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='onDel(" + row.id + ")' class='btn btn-outline-primary btn-sm'>删除</button>&nbsp;&nbsp;"
                                + "<a type='button' data-fancybox='gallery' class='btn btn-outline-primary btn-sm'"
                                + " href='" + showpicUrl + row.id + "' >预览</a>";

                            return rtn
                        }

                }
            ],
            "paging": true, //打开分页设置
            "iDisplayLength": 5,
        })
        ;

        // counter-up
        $('.counter').counterUp({
            delay: 10,
            time: 600
        });

    });

    //表单查询
    function onSearch() {
        var fileName = $("#search_name").val();
        var begDate = $("#search_beg").val();
        var endDate = $("#search_end").val();
        table.settings()[0].ajax.data = {
            "fileName":fileName,
            "begDate":begDate,
            "endDate":endDate
        };
        table.ajax.reload();

    }

    //更改状态
    function onEdit(id, enable) {
        var tip = enable == '0' ? "确认播放图片?" : "确认禁止播放?";
        bootbox.confirm(tip, function (result) {
            if (result) {
                $.post(
                    basePath + "/resource/change",
                    {"resourceId": id, "enable": enable == '0' ? '1' : '0'},
                    function (response) {
                        if (response != 'success' && response != 'fail') {
                            bootbox.alert('大屏最多播放' + response + "张图片！");
                        } else if (response == 'success') {
                            window.location.reload();
                        } else {
                            bootbox.alert("变更异常");
                        }

                    }
                );
            }
        });
    }

    //删除资源
    function onDel(id) {
        bootbox.confirm('确认删除?', function (result) {
            if (result) {
                $.post(
                    basePath + "/resource/delete",
                    {"id": id},
                    function (response) {
                        if (response == 'success') {
                            window.location.reload();
                        } else {
                            bootbox.alert("删除异常");
                        }

                    }
                );
            }
        });
    }

</script>

</body>
</html>