<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">

<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                </div>
                <!-- end row -->

                <div class="row" style="margin-top: 3px;">
                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="card-box noradius noborder bg-default">
                            <i class="fa fa-file-text-o float-right text-white"></i>
                            <h6 class="text-white text-uppercase m-b-20">总计数量</h6>
                            <h1 class="m-b-20 text-white counter" th:text="${total}"></span></h1>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="card-box noradius noborder bg-info">
                            <i class="fa fa-user-o float-right text-white"></i>
                            <h6 class="text-white text-uppercase m-b-20">在播屏</h6>
                            <h1 class="m-b-20 text-white counter" th:text="${enable}"></h1>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="card-box noradius noborder bg-warning">
                            <i class="fa fa-bell-o float-right text-white"></i>
                            <h6 class="text-white text-uppercase m-b-20">停播屏</h6>
                            <h1 class="m-b-20 text-white counter" th:text="${unable}"></h1>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row" style="margin-top: -10px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div style="margin-left: 15px;">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" onclick="loadAdd()">
                                        <i class="fa fa-plus" aria-hidden="true"></i> 新增诱导屏
                                    </button>
                                </div>
                                <table id="tb_1" class="table table-responsive-xl table-hover">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>诱导屏名称</th>
                                        <th>类型</th>
                                        <th>IP地址</th>
                                        <th>端口号</th>
                                        <th>匹配格式</th>
                                        <th>状态</th>
                                        <th>播放间隔(秒)</th>
                                        <th>轮播数量</th>
                                        <th>描述</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>

                <!-- Modal add -->
                <div class="modal fade" id="customModal" tabindex="-1" role="dialog"
                     aria-labelledby="customModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">诱导屏信息</h5>
                            </div>
                            <div class="modal-body">
                                <form id="customForm">
                                    <input type="hidden" class="form-control" id="no" value="" required>
                                    <div class="form-group row">
                                        <label for="name" class="star col-sm-2 col-form-label">诱导屏名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control is-valid" id="name" required>
                                        </div>
                                        <label for="type" class="star col-sm-2 col-form-label">诱导屏类型</label>
                                        <div class="col-sm-4">
                                            <select style="width: 240px" class="form-control select2" id="type" required>
                                                <option value="">请选择</option>
                                                <option value="klt">卡莱特</option>
                                                <option value="jx">金晓</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="host" class="star col-sm-2 col-form-label">IP地址</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="host" required>
                                        </div>
                                        <label for="port" class="star col-sm-2 col-form-label">端口号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="port" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="enable" class="star col-sm-2 col-form-label">是否可用</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="enable" required>
                                                <option value="1">正常</option>
                                                <option value="0">休眠</option>
                                            </select>
                                        </div>
                                        <label for="regexChar" class="star col-sm-2 col-form-label">匹配格式</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="regexChar" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="playPicNum" class="star col-sm-2 col-form-label">轮播数量</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="playPicNum" required>
                                        </div>
                                        <label for="second" class="star col-sm-2 col-form-label">播放间隔</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="秒" id="second" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="descInfo" class="col-sm-2 col-form-label">描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="descInfo"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" onclick="onEdit()" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END content-page -->
        <div th:replace="common/foot :: foot"></div>
    </div>
    <!-- END main -->
    <div th:replace="common/commjs :: comm"></div>
    <script th:inline="javascript">

        bootbox.setDefaults("locale", "zh_CN");

        /*<![CDATA[*/
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

        var dataTable;
        $(document).ready(function () {
            dataTable = $('#tb_1').DataTable({
                language: _language,
                ajax: basePath + "/screen/page",
                serverSide: true,
                pagination: true,
                iDisplayLength: 5,
                ordering: false,
                bLengthChange: false,
                bFilter: false,
                columns: [
                    {"data": "no"},
                    {"data": "name"},
                    {"data": "type"},
                    {"data": "host"},
                    {"data": "port"},
                    {"data": "regexChar"},
                    {
                        "data": "enable",
                        render: function (data) {
                            return data == '0' ? "<font color='red'>休眠</font>" : "<font color='green'>正常</font>";
                        }
                    },
                    {"data": "second"},
                    {"data": "playPicNum"},
                    {"data": "descInfo"},
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var rtnStr =
                                "<button type='button' onclick='onDelete(" + row.no + ")' class='btn btn-outline-primary btn-sm'>删除</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='loadEdit(" + row.no + ")' class='btn btn-outline-primary btn-sm'>编辑</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='loadResource(" + row.no + ")' class='btn btn-outline-primary btn-sm'>详细信息</button>";
                            return rtnStr;
                        }

                    }
                ]
            });

            // counter-up
            $('.counter').counterUp({
                delay: 10,
                time: 600
            });

        });

        //加载诱导屏资源
        function loadResource(no) {
            window.location.href = basePath + "/resource/index?no=" + no;
        }

        function loadAdd() {
            $("#customForm")[0].reset();
            $("#customModal").modal('show');
            $("#customForm")[0].classList.remove('was-validated');//初始不校验
        }

        function loadEdit(no) {
            $.post(
                basePath + "/screen/queryById",
                {"no": no},
                function (response) {
                    $("#no").val(response.no);
                    $("#name").val(response.name);
                    $("#enable").val(response.enable);
                    $("#descInfo").val(response.descInfo);
                    $("#host").val(response.host);
                    $("#regexChar").val(response.regexChar);
                    $("#playPicNum").val(response.playPicNum);
                    $("#second").val(response.second);
                    $("#port").val(response.port);
                    $("#type").val(response.type);
                    $("#customModal").modal('show');
                }
            );
        }

        function onEdit() {
            var form = $("#customForm")[0];
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }

            $.post(
                basePath + "/screen/resave",
                {
                    "no": $("#no").val(),
                    "name": $("#name").val(),
                    "enable": $("#enable").val(),
                    "descInfo": $("#descInfo").val(),
                    "host": $("#host").val(),
                    "port": $("#port").val(),
                    "type": $("#type").val(),
                    "regexChar": $("#regexChar").val(),
                    "playPicNum": $("#playPicNum").val(),
                    "second": $("#second").val()
                },
                function (response) {
                    if (response == 'success') {
                        window.location.reload();
                    }

                }
            );
        }

        function onDelete(no) {
            bootbox.confirm("确认删除?", function (result) {
                if (result) {
                    $.post(
                        basePath + "/screen/delete",
                        {"no": no},
                        function (response) {
                            if (response == 'success') {
                                window.location.reload();
                            } else {
                                bootbox.alert("删除异常");
                            }

                        }
                    );
                }
            });

        }

    </script>

</div>
</body>
</html>