<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header(~{},~{},~{})">
</head>
<body class="adminbody">
<div id="main">

    <div class="content-page">

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <br/>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row">

                                </div>
                            </div>
                            <div class="card-body">
                                <div style="margin-left: 15px;">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" onclick="loadAdd()">
                                        <i class="fa fa-user" aria-hidden="true"></i> 新增用户
                                    </button>
                                </div>
                                <table id="tb_1" class="table table-responsive-xl table-hover display">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>用户名</th>
                                        <th>创建时间</th>
                                        <th>所属角色</th>
                                        <th width="160">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div><!-- end card-->
                    </div>
                </div>
            </div>
            <!-- END container-fluid -->

            <!-- Modal add -->
            <div class="modal fade" id="customModal" tabindex="-1" role="dialog"
                 aria-labelledby="customModal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">新增用户</h5>
                        </div>
                        <div class="modal-body">
                            <form id="customForm" th:action="@{/resource/compPic}" method="post"
                                  enctype="multipart/form-data">
                                <input id="id" name="id" type="hidden" value="">
                                <div class="form-group row">
                                    <label for="name" class="star col-sm-2 col-form-label">用户名</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="size" id="name" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pass" class=" star col-sm-2 col-form-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="size" id="pass" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="passConfim" class=" star col-sm-2 col-form-label">确认密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="size" id="passConfim" required/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="roleId" class=" star col-sm-2 col-form-label">所属角色</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" id="roleId" name="roleId" style="width: 630px;">
                                            <option value="">请选择</option>
                                            <option th:each="role:${roles}" th:value="${role.id}"
                                                    th:text="${role.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" onclick="onResave()" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END content -->
        <div th:replace="common/foot :: foot"></div>
    </div>
    <!-- END content-page -->
</div>
<!-- END main -->

<div th:replace="common/commjs :: comm"></div>
<script th:inline="javascript">

    /*<![CDATA[*/
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

    bootbox.setDefaults("locale", "zh_CN");

    $(document).ready(function() {
        $('.select2').select2();
    });

    $(document).ready(function () {
        $('#tb_1').DataTable({
            language: _language,
            ajax: {
                url: basePath + "/user/page",
                type: "POST",
                async: false
            },
            serverSide: true,
            pagination: true,
            ordering: false,
            bLengthChange: false,
            bFilter: false,
            columns: [
                {"data": "id"},
                {"data": "name"},
                {"data": "createDate"},
                {"data": "roleName"},
                {
                    "data": null,
                    "render":
                        function (data, type, row) {
                            var rtn =
                                "<button type='button' onclick='onEdit(" + row.id + ")' class='btn btn-outline-primary btn-sm'>修改</button>&nbsp;&nbsp;"
                                + "<button type='button' onclick='onDel(" + row.id + ")' class='btn btn-outline-primary btn-sm'>删除</button>&nbsp;&nbsp;"
                            return rtn
                        }

                }
            ],
            "paging": true, //打开分页设置
            "iDisplayLength": 5,
        })
        ;

        // counter-up
        $('.counter').counterUp({
            delay: 10,
            time: 600
        });

        $('#backPic').filer({
            limit: 1,
            maxSize: 10,
            extensions: ['jpg', 'JPG', 'jpeg', 'JPEG', 'png', 'PNG', 'gif', 'GIF', 'bmp', 'BMP'],
            changeInput: true,
            showThumbs: true,
            addMore: false
        });

    });


    //修改、保存用户
    function onEdit(id) {

        $.post(
            basePath + "/user/load-edit",
            {"id": id},
            function (response) {
                $("#id").val(response.id);
                $("#name").val(response.name);
                $("#pass").val(response.password);
                $("#passConfim").val(response.password);
                $("#roleId").val(response.roleId).trigger('change');
                $("#customModal").modal('show');
            }
        );
    }

    //添加用户
    function loadAdd() {
        $("#customForm")[0].reset();
        $("#customForm")[0].classList.remove('was-validated');//初始不校验
        $("#id").val('');
        $("#roleId").val('').trigger('change');;
        $("#customModal").modal('show');
    }

    //保存用户
    function onResave() {
        var form = $("#customForm")[0];
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }

        var pass = $("#pass").val();
        var passConfim = $("#passConfim").val();
        if (pass != passConfim) {
            bootbox.alert('两次密码不一致');
            return;
        }
        $.post(
            basePath + "/user/resave",
            {
                "id": $("#id").val(),
                "name": $("#name").val(),
                "password": $("#pass").val(),
                "roleId": $("#roleId").val()
            },
            function (response) {
                if (response == 'success') {
                    window.location.reload();
                }

            }
        );
    }

    //删除用户
    function onDel(id) {
        bootbox.confirm('确认删除?', function (result) {
            if (result) {
                $.post(
                    basePath + "/user/delete",
                    {"id": id},
                    function (response) {
                        if (response == 'success') {
                            window.location.reload();
                        } else {
                            bootbox.alert("删除异常");
                        }

                    }
                );
            }
        });
    }

</script>

</body>
</html>